@{
    Book_Store.Helpers.UserHelper userHelper = new Book_Store.Helpers.UserHelper();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Panel Online Book Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Online Book Store", "Index", "Dashboard", null, new { @class = "navbar-brand" })
            </div>
            @if(userHelper.IsUserLogin()==true)
            {
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Dashboard", "Index", "Dashboard")</li>
                    <li>@Html.ActionLink("Books", "Index", "Books")</li>
                    <li>@Html.ActionLink("Books", "Index", "Order")</li>
                    <li>@Html.ActionLink("Book Categories", "Index", "BookCategory")</li>
                </ul>                
            </div>    
            }
            
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            @if (Session["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @Session["ErrorMessage"]
                </div>
                Session["ErrorMessage"] = null;
            }
            else if (Session["SucessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    @Session["SucessMessage"]
                </div>
                Session["SucessMessage"] = null;
            }
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
