@model Book_Store.Models.ShippingCharge

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShippingCharge</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShippingRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
