@model IEnumerable<Book_Store.Models.OrderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Createdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Createdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
